.wrapper {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
}

.header {
  margin-top: 20px;
}

.main {
  flex-grow: 1;
}

.footer {
  font-size: 12px;
  font-style: italic;
}


@media screen and (min-width: 769px) {
  .title {
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}
